{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block menu %}{% endblock %}

{% block search_block %}
    {% include 'partial/search_form.html' with form=search_form %}
{% endblock %}

{% block content %}
    {% if is_paginated %}
        <div class="d-flex justify-content-center mb-3">
            {% include 'partial/pagination.html' %}
        </div>
    {% endif %}
    <div class="row">
        {% for product in products %}
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.picture }}" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{ product.name }} </h5>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="{% url 'product-update' product.pk %}" class="btn btn-outline-success"><i
                                                class="bi bi-pencil-fill"></i></a>
                                        <a href="{% url 'product-delete' product.pk %}"
                                           class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></a>
                                    </div>
                                </div>
                                <p class="card-text"><small
                                        class="text-body-secondary">{{ product.category.name }}</small></p>
                                <p class="card-text">Цена: {{ product.price }}$</p>
                                <a href="{% url 'product-detail' product.pk %}" class="card-link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}